@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body
{
   font-family:times;
   color:black;
}
 
header
{
   background-color:#F7CAC9;
   color:black;
   margin:0; 
   padding:0;
   overflow:hidden;
 }

header img
{
  float:left;
  padding:10px 10px;
  
}
 header h1 
{
font-family: 'Quicksand', sans-serif;
font-size:2em;
margin:0;
padding:5px;
text-decoration:none;
color:black;

}

h1:hover
{
color:white;
text-decoration:none;

}

.nav ul
{
  list-style-type:none;
  background-color:#F7CAC9;
  margin:0;
  padding:0;
overflow:hidden;

}
.nav li 
{
 float:left;
}
.nav li a
{
text-decoration:none;
padding:10px 25px;
display:block;
color:black;
}
.nav li a:hover
{
 background-color:teal;
 color:white;
}
.content
{
  padding:0px 10px;
  border:2px solid #FA8072;
  overflow:hidden;
 }

.content h3
{
  margin:5px 0 0 0;
  font-size:1.3em;
}
.footer 
{
 padding:5px 0 0 5px;
}
div.content img 
{
 float:right;

}

.content h4
{
font-size:1.3em;


}
div.content img 
{
 float:right;
 padding:0 5px 10px 0;
}

.content img:hover 
{
border-radius:80px;
}
header img:hover
{
border-radius:80px;

}

